/* notas
violeta: #c3bef7
verde claro: #e0d68a
amarillo: #ffeaae
*/


@font-face {
    font-family: 'cartel';
    src: url('../asset/stigmature.otf');
}


*{
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr, 2fr, 2fr, 0.3fr;
    grid-template-areas: 
    "header header header header" 
    "main    main    main  main"
    "section section section section"
    "footer footer footer footer"
    ;
}

/* header*/ 
.menu{
    background-image: url('../asset/bg_principal.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: initial;
    z-index: 1;
    grid-area: header;
}
.menu__conteiner--logo{
    height: 5rem;
    margin: 10px 10px 10px 10px;    
}
.menu__conteiner--boton{
    background-color: #b6b5b5b0;
    display: inline-block;  
}
.menu__conteiner--boton li{
    list-style: none;
    margin-bottom: 0rem;
    display: inline-block;
} 

.menu__conteiner--boton li a{
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}
.menu__container--tittle{
    font-family: 'cartel';
    font-weight: 200px;
    color: #c3bef7;
    font-size: 3rem;
    text-align: center;
    background-color:#f5f5f5;
    margin-bottom: 0rem;     
}

/* main*/
.imgPpal{
    grid-area: main;
    margin-bottom: 1rem;
}
.carousel-item img{
    height: 30rem;
    object-fit: cover;
}
.carousel-control-prev-icon {
    filter: invert(1); 
}
.carousel-control-next-icon {
    filter: invert(1); 
}
.carousel-control-prev, .carousel-control-next {
    color: #ffffff; 
}

/*main pages*/
.gal-container{
    display: flex;
    flex-flow: wrap; 
    justify-content: space-around;  
    border-radius: 1rem solid #000000;
}
.gal-pic{
    border: 2px solid #000000;
    width: 15rem;
    display: flex;
    flex-flow: wrap; 
    justify-content: space-around;
    
}
.local-pic{
    border: 1px solid #000000;
    width: 15rem;
    margin: 1rem 0rem 1rem 2rem;
}
.local-text{
    margin-left: 5rem;
}
.titulo-gal{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    font-size: 2rem;
    font-weight: 100;
    margin: 2rem 2rem 2rem 4rem ;
    
}
.imgPpal__pic{
    width: 100%;
    margin-top: 0rem;
    margin-bottom: 1rem;   
}
/*main productos*/
.flex-cont{
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}


/* section*/
.contenido{
    grid-area: section;
}
.contenido__cards{
    display: flex;
    flex-flow: wrap; 
    justify-content: space-around;
}
.contenido__p--main{
    font-weight: 400px;
    text-align: justify;
    width: 100%;
    border: 1px solid #000000;
    margin-left: 1rem;
    margin-right: 1rem; 
    padding: 0rem 1rem 0rem 1rem;
}
.contenido__pic{
    border: 1px solid #000000;
    width: 15rem;
    display: flex;
    flex-flow: wrap; 
    justify-content: space-around;
}
.productos{
    background-color:#deb88775;
    margin-bottom: 1rem;
    border-radius: 1rem;
    z-index: 1;
}

.card {
    width: 100%; 
    max-width: 400px; 
}



/* bs*/
.sb-bt{
    color: #000000e8;
    opacity: 1;
}

/* footer*/
.footProp{
    background-color:#ae7f42e2;
    grid-area: footer;
}
.footProp__img{
    width: 100px;
    flex-flow: row;
    justify-content: end;
}
.footProp__link ul{
    list-style: none;
}
.footProp__link ul li a {
    color: black; 
    text-decoration: none;
    font-weight: bold;
}




/* MEDIA QUERIES 
DESKTOP FIRST*/

/*tablet*/
@media (max-width: 720px){
    .grid-container{
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "header header" 
        "main    main "
        "section section"
        "footer footer"
        ;
    }
    .menu-nav{
        flex-direction: column;
        height:auto;
        
    }    
    .title{
        width:100%;
    }
    .row.justify-content-center {
        max-width: 1200px; /* Ancho máximo del contenedor de las tarjetas */
        margin: 0 auto; /* Centrar el contenedor en la página */
    }
}

/*mobile*/
@media (max-width: 320px){
    .grid-container{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "header" 
        "main"
        "section"
        "footer"
        ;
    }
    .title{
        width: 100%;
    }
}

/*
-------------------------------------------------------------------------

ARCHIVO TRASPASADO

------------------------------------------------------------------------
*/


