/* footer*/
/
// Nexting
.footProp {
    background-color: #ae7f42e2;
    grid-area: footer;
  
    &__img {
      width: 100px;
      flex-flow: row;
      justify-content: end;
    }
  
    &__link {
      ul {
        list-style: none;
  
        li {
          a {
            color: black;
            text-decoration: none;
            font-weight: bold;
          }
        }
      }
    }
  }
  