
/* section*/

// Nexting
.contenido {
    grid-area: section;
  
    &__cards {
      display: flex;
      flex-flow: wrap;
      justify-content: space-around;
    }
      &__p--main {
      font-weight: 400px;
      text-align: justify;
      @include sizes(100%, 0%);
      border: 1px solid #000000;
      margin-left: 1rem;
      margin-right: 1rem;
      padding: 0rem 1rem 0rem 1rem;
    }
      &__pic {
      border: 1px solid #000000;
      @include sizes(15rem, 0%);
      display: flex;
      flex-flow: wrap;
      justify-content: space-around;
    }
  }
  
  .productos {
    background-color: #deb88775;
    margin-bottom: 1rem;
    border-radius: 1rem;
    z-index: 1;
  }
    .sb-bt {
    color: #000000e8;
    opacity: 1;
  }
  
  