// no se ve en js

/* nota de css que si se ve */


//EsTE ARCHIVO CONTIENE MI MENU PRINCIAL

 //reset
 @import './reset/vars';
 @import './reset/reset';
 
 @import './reset/mixin';
 
 @import './reset/layout';

//estructura
@import 'header';
@import 'principal';
@import 'footer';

//media queries desktop first

// Contenido anterior en css

@media (max-width: 720px) {
    .grid-container {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
        "header header"
        "main main"
        "section section"
        "footer footer";
    }
    .menu-nav {
      flex-direction: column;
      height: auto;
    }
    .title {
      width: 100%;
    }
    .row.justify-content-center {
        max-width: 1200px;
        margin: 0 auto; 
    }
  }
  
  @media (max-width: 320px) {
    .grid-container {
      grid-template-columns: 1fr;
      grid-template-areas:
        "header"
        "main"
        "section"
        "footer";
    }
    .title {
      width: 100%;
    }
  }
  
  
  
